@{
    ViewBag.Title = "Javascript Workshop";
}

<h2>Table of Contents</h2>
<ul>
    <li>@Html.ActionLink("Basic JavaScript", "Index", "Toc", new { area = "BasicJavaScript" }, null)</li>
    <li>@Html.ActionLink("Ajax", "Index", "Toc", new { area = "Ajax" }, null)</li>
    <li>@Html.ActionLink("JQuery UI", "Index", "Toc", new { area = "JQueryUI" }, null)</li>
    <li>@Html.ActionLink("Advanced JavaScript", "Index", "Toc", new { area = "AdvancedJavascript" }, null)</li>
    <li>@Html.ActionLink("Knockout JS", "Index", "Toc", new { area = "KnockoutJS" }, null)</li>
</ul>
